App_Data
[Bb]in
[Oo]bj
[Tt]est[Rr]esults
*.suo
*.user
*.[Cc]ache
*[Rr]esharper*
packages
NuGet.exe
_[Ss]cripts
*.exe
*.dll
*.nupkg
*.ncrunchsolution
*.dot[Cc]over
*.pubxml
DotaEye/Scripts/App/node_modules
DotaEye/Scripts/App/.idea
DotaEye/Data.config
DotaEye/Scripts/App/src/public/build/js