@{
    ViewBag.Title = "Register";
}

<div class="navbar">
    <div class="navbar-box">
        <div class="navbar-left back">
            <a href="javascript:history.go(-1);"></a>
        </div>
        <div class="navbar-center">登录</div>
        <div class="navbar-right"><a href="/register/index" title="免费注册">注册</a></div>
    </div>
</div>
<div id="wrapper">
    <div class="tab">
        <ul class="tab-bar">
            <li class="selected">
                <a href="javascript:;">密码登录</a>
            </li>
            <li>
                <a href="/register/codelogin">验证码登录</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-content-item ">
                <form action="/register/logindo" method="post" id="j-login">
                    <div class="form-group">
                        <label class="form-group-label icon"><i class="icon act"></i></label>
                        <div class="form-control">
                            <input type="tel" name="mobile" class="form-control-input large" data-value="" placeholder="请输入注册时的手机号" datatype="m" nullmsg="请输入手机号" errormsg="手机号码格式错误">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-group-label icon"><i class="icon pwd"></i></label>
                        <div class="form-control">
                            <input type="password" name="password" class="form-control-input large" data-value="" placeholder="请输入登录密码" datatype="*6-20" nullmsg="请输入登录密码" errormsg="密码格式为6-20个字符">
                        </div>
                    </div>
                    <div class="form-group form-group-submit">
                        <div class="form-control form-control-submit">
                            <input type="submit" class="btn btn-large" id="j-submit" value="登录">
                        </div>
                    </div>
                    <div class="flex-box form-group-padding">
                        <label class="flex1"><input type="checkbox" class="form-control-checkbox" name="remember" value="1">记住我</label>

                        <p class="fgt-pw"><a href="/register/forget">忘记密码</a></p>
                    </div>
                </form>
            </div>
            <div class="tab-content-item selected">
                <form action="/register/codelogindo" method="post" id="j-login">
                    <div class="form-group">
                        <label class="form-group-label ">手<i class="whrem"></i>机<i class="whrem"></i>号</label>
                        <div class="form-control">
                            <input type="tel" name="mobile" class="form-control-input large" data-value="" placeholder="请输入注册时的手机号" datatype="m" nullmsg="请输入手机号" errormsg="手机号码格式错误">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-group-label ">短信验证</label>
                        <div class="form-control">
                            <div class="flex-box">
                            <input type="text" name="code" class="flex1 form-control-input large" data-value="" placeholder="请输入验证码">
                                <button class="btn btn-large" disabled type="button">获取验证码</button>
                            </div>
                            </div>
                    </div>
                    <div class="form-group form-group-submit">
                        <div class="form-control form-control-submit">
                            <input type="submit" class="btn btn-large" id="j-submit" value="登录">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

