@{
    Layout = null;
    var product = false;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的 ASP.NET 应用程序</title>
    <link rel="stylesheet" type="text/css" href="~/Scripts/App/src/public/styles/main.css" />
</head>
<body>
    <div id="main"></div>
    @if (product)
    {
        <script type="text/javascript" src="~/Scripts/App/src/public/build/js/common.min.js"></script>
        <script type="text/javascript" src="~/Scripts/App/src/public/build/js/main.min.js"></script>
    }
    else
    {
        <script type="text/javascript" src="http://localhost:5591/common.js"></script>
        <script type="text/javascript" src="http://localhost:5591/main.js"></script>
    }

</body>
</html>
